In [5]:
import pandas as pd

In [6]:
df.head()

,match_id,match_date,match_time,home_team_id,home_team_name,away_team_id,away_team_name,league_id,match_day,home_team_score,away_team_score,status,Winner
0,264341,2019-08-09,19:00:00,64,Liverpool FC,68,Norwich City FC,2021,1,4,1,FINISHED,HOME_TEAM
1,264342,2019-08-10,11:30:00,563,West Ham United FC,65,Manchester City FC,2021,1,0,5,FINISHED,AWAY_TEAM
2,264344,2019-08-10,14:00:00,328,Burnley FC,340,Southampton FC,2021,1,3,0,FINISHED,HOME_TEAM
3,264345,2019-08-10,14:00:00,354,Crystal Palace FC,62,Everton FC,2021,1,0,0,FINISHED,DRAW
4,264346,2019-08-10,14:00:00,346,Watford FC,397,Brighton & Hove Albion FC,2021,1,0,3,FINISHED,AWAY_TEAM

In [7]:
sched_filter=df['status']!="FINISHED"

In [8]:
df[sched_filter].head()

,match_id,match_date,match_time,home_team_id,home_team_name,away_team_id,away_team_name,league_id,match_day,home_team_score,away_team_score,status,Winner
40,264383,2019-09-14,11:30:00,64,Liverpool FC,67,Newcastle United FC,2021,5,None,None,SCHEDULED,None
41,264381,2019-09-14,14:00:00,76,Wolverhampton Wanderers FC,61,Chelsea FC,2021,5,None,None,SCHEDULED,None
42,264384,2019-09-14,14:00:00,73,Tottenham Hotspur FC,354,Crystal Palace FC,2021,5,None,None,SCHEDULED,None
43,264385,2019-09-14,14:00:00,66,Manchester United FC,338,Leicester City FC,2021,5,None,None,SCHEDULED,None
44,264387,2019-09-14,14:00:00,356,Sheffield United FC,340,Southampton FC,2021,5,None,None,SCHEDULED,None

In [9]:
len(df[sched_filter])

1425

In [10]:
len(df[~sched_filter])

208

In [11]:
from datetime import datetime

In [13]:
todays_date=datetime.now().date()

In [15]:
todays_date.isoweekday()

4

In [16]:
def str2date(st):
    return datetime.strptime(st,'%Y-%m-%d')

In [17]:
df['match_date']=df['match_date'].apply(str2date)

In [18]:
df['match_date'].head()

0   2019-08-09
1   2019-08-10
2   2019-08-10
3   2019-08-10
4   2019-08-10
Name: match_date, dtype: datetime64[ns]

In [19]:
def weekday(dt):
    return dt.isoweekday()

In [20]:
df['weekday']=df['match_date'].apply(weekday)

In [21]:
df.head()

,match_id,match_date,match_time,home_team_id,home_team_name,away_team_id,away_team_name,league_id,match_day,home_team_score,away_team_score,status,Winner,weekday
0,264341,2019-08-09,19:00:00,64,Liverpool FC,68,Norwich City FC,2021,1,4,1,FINISHED,HOME_TEAM,5
1,264342,2019-08-10,11:30:00,563,West Ham United FC,65,Manchester City FC,2021,1,0,5,FINISHED,AWAY_TEAM,6
2,264344,2019-08-10,14:00:00,328,Burnley FC,340,Southampton FC,2021,1,3,0,FINISHED,HOME_TEAM,6
3,264345,2019-08-10,14:00:00,354,Crystal Palace FC,62,Everton FC,2021,1,0,0,FINISHED,DRAW,6
4,264346,2019-08-10,14:00:00,346,Watford FC,397,Brighton & Hove Albion FC,2021,1,0,3,FINISHED,AWAY_TEAM,6

In [25]:
todays_date.isocalendar()

(2019, 37, 4)

In [28]:
week=datetime.isocalendar(todays_date)[1]

In [29]:
datetime.isocalendar?

In [34]:
from datetime import timedelta, datetime
def week_range(date=datetime.now().date()):
    year, week, day = date.isocalendar()
    if day == 1:
        start_date = date
    else:
        start_date = date-timedelta(days=day)
    end_date = start_date+timedelta(days=6)
    return (start_date, end_date)

In [36]:
mask=(df['match_date']>=week_range()[0]) & (df['match_date']<=week_range()[1])

/home/african/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.

### This weeks games

In [37]:
df[mask]

,match_id,match_date,match_time,home_team_id,home_team_name,away_team_id,away_team_name,league_id,match_day,home_team_score,away_team_score,status,Winner,weekday
40,264383,2019-09-14,11:30:00,64,Liverpool FC,67,Newcastle United FC,2021,5,None,None,SCHEDULED,None,6
41,264381,2019-09-14,14:00:00,76,Wolverhampton Wanderers FC,61,Chelsea FC,2021,5,None,None,SCHEDULED,None,6
42,264384,2019-09-14,14:00:00,73,Tottenham Hotspur FC,354,Crystal Palace FC,2021,5,None,None,SCHEDULED,None,6
43,264385,2019-09-14,14:00:00,66,Manchester United FC,338,Leicester City FC,2021,5,None,None,SCHEDULED,None,6
44,264387,2019-09-14,14:00:00,356,Sheffield United FC,340,Southampton FC,2021,5,None,None,SCHEDULED,None,6
45,264388,2019-09-14,14:00:00,397,Brighton & Hove Albion FC,328,Burnley FC,2021,5,None,None,SCHEDULED,None,6
46,264386,2019-09-14,16:30:00,68,Norwich City FC,65,Manchester City FC,2021,5,None,None,SCHEDULED,None,6
407,271441,2019-09-13,18:30:00,24,TSV Fortuna 95 Düsseldorf,11,VfL Wolfsburg,2002,4,None,None,SCHEDULED,None,5
408,271439,2019-09-14,13:30:00,1,1. FC Köln,18,Borussia Mönchengladbach,2002,4,None,None,SCHEDULED,None,6
409,271440,2019-09-14,13:30:00,4,BV Borussia 09 Dortmund,3,Bayer 04 Leverkusen,2002,4,None,None,SCHEDULED,None,6
410,271442,2019-09-14,13:30:00,15,1. FSV Mainz 05,9,Hertha BSC,2002,4,None,None,SCHEDULED,None,6
411,271444,2019-09-14,13:30:00,16,FC Augsburg,19,Eintracht Frankfurt,2002,4,None,None,SCHEDULED,None,6
412,271445,2019-09-14,13:30:00,28,1. FC Union Berlin,12,SV Werder Bremen,2002,4,None,None,SCHEDULED,None,6
413,271447,2019-09-14,16:30:00,721,RB Leipzig,5,FC Bayern München,2002,4,None,None,SCHEDULED,None,6
1096,273596,2019-09-13,19:00:00,89,RCD Mallorca,77,Athletic Club,2014,4,None,None,SCHEDULED,None,5
1097,273594,2019-09-14,11:00:00,86,Real Madrid CF,88,Levante UD,2014,4,None,None,SCHEDULED,None,6
1098,273602,2019-09-14,14:00:00,745,CD Leganés,94,Villarreal CF,2014,4,None,None,SCHEDULED,None,6
1099,273597,2019-09-14,16:30:00,92,Real Sociedad de Fútbol,78,Club Atlético de Madrid,2014,4,None,None,SCHEDULED,None,6
1100,273595,2019-09-14,19:00:00,81,FC Barcelona,95,Valencia CF,2014,4,None,None,SCHEDULED,None,6

In [38]:
len(df[mask])

19

In [1]:
len()

NameError: name 'all_teams' is not defined